.container {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 3px;

    margin: 10px;

    line-height: 80px;
    font-size: 40px;
    text-align: center;

    border: 1px solid black;
    background-color: white;

    transition: opacity ease-in-out 300ms, transform ease-in-out 300ms,
        background-color ease-in-out 300ms;
}

.closed,
.correct,
.incorrect {
    composes: container;
}

.removed {
    opacity: 0.25;
    transform: scale(0.7);
}

.incorrect {
    background-color: brown;
}

.correct {
    background-color: gold;
}

.selected {
    outline: 3px solid rgb(1, 183, 255);
    outline-offset: 5px;
}

.clickable {
    cursor: pointer;
}
